<h2>Estudiantes</h2>
<a routerLink="/estudiantes/nuevo"><button>+ Nuevo estudiante</button></a>

<div *ngIf="cargando">Cargando...</div>

<table *ngIf="!cargando">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Programa</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of estudiantes">
      <td>{{ e.codigoEstudiantil }}</td>
      <td>{{ e.nombres }}</td>
      <td>{{ e.apellidos }}</td>
      <td>{{ e.email }}</td>
      <td>{{ e.programaAcademico }}</td>
      <td><button (click)="eliminar(e.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
